
@{
    ViewBag.Title = "About";
}
@section topCSS
{
    <link href="~/Assets/css/word-text.css" rel="stylesheet" />
    <link href="~/Assets/css/aboutus.css" rel="stylesheet" />

}

<main id="main" role="main">

    <div class="Container">
        <!-- <header class="PageHeader">
            <div class="SectionHeader SectionHeader--center">

            </div>
        </header> -->

        <div class="PageContent PageContent--narrow Rte">
            <div class="page about-us">
                <h1 class="SectionHeader__Heading Heading u-h1">About KUMA</h1>
                <h4 class="subtitle">品牌介紹</h4>
            </div>

            <div class="privacy-policy">
                <img src="~/Assets/images/otherphoto/B1_2048x2048.jpg" alt="" style="width:100%;">
                <div class="gridrow">
                    <div class="logoimg"><img class="logo2X" src="~/Assets/images/Logo/ANVI-Logo-Black_140x@2x.png" alt="" >
                                  <img class="logo1X" src="~/Assets/images/Logo/ANVI-Logo-Black_140x.png" alt=""></div>
                    <div class=" policy-content">
                        <section>
                            <h3 class="section-title">KUMA</h3>
                            <div class="section-body">
                                <p><strong>關於KUMA</strong></p>
                                <p>KUMA Studios為新創銀飾品牌，專為對於品味與時尚有所追求的女性，打造極簡、質感、富含女性魅力的精緻飾品。<br></p>
                                <p>KUMA相信每位女性都有天生魅力、個人風格，而表態就該由天天配戴的飾品開始。KUMA Studios承襲多年的精品工藝，擅長製作頂尖質感，揉合現代設計風格與時尚外型，為女人畫龍點睛，高貴飾品不該只放在展間，應以合理售價取得並作為日常不可或缺的單品。</p>
                                <p><br>KUMA Girl為摩登、經典、優雅的代名詞。</p>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="gridrow64">
                    <img src="~/Assets/images/otherphoto/ANVI-GRACEFUL_ADVENTURE-Spring_Summer_2019_Collection_PressR4.jpg" alt="" style="width:100%;">
                    <img src="~/Assets/images/otherphoto/ANVI-GRACEFUL_ADVENTURE-Spring_Summer_2019_Collection_PressL4.jpg" alt="" style="width:100%;">
                </div>

                <div class="gridrow64" style="border-bottom: 1px solid #c7b299;">
                    <div class=""></div>
                    <div class=" policy-content">
                        <section>
                            <h3 class="section-title">
                                善用優美的格調，堅毅的自信，大膽開創自己的故事

                            </h3>
                            <p>蘊含女性迷人魅力、暗藏理想目標富有生命力的皮革手環。</p>
                            <p>柔軟義大利小羊皮革，象徵女人的柔軟姿態，能屈能伸的性格，優雅的米白色與率性的俐落黑色，綻放的花朵、飛舞的彩蝶、精巧卻耀眼的瓢蟲與富含濃厚情感的心型扣環，全系列亦甜美也似強勢，完美彰顯女性個人魅力。</p>
                        </section>
                    </div>
                </div>
            </div>

            <div class="page about-us">
                <h1 class="SectionHeader__Heading Heading u-h1">About us</h1>

                <h4 class="subtitle">團隊介紹</h4>
            </div>
            <div class="privacy-policy">
                <div style="width:100%;height: 360px;overflow:hidden;">
                    <img src="~/Assets/images/otherphoto/business-and-marketing.jpg" alt="" style="width:100%;">
                </div>
                <div class="gridrow">
                    <div class=""><img src="~/Assets/images/Logo/logo.jpg" alt="" style="height: 160px;"></div>
                    <div class=" policy-content">
                        <section>
                            <h3 class="section-title">關於我們團隊</h3>
                            <div class="section-body">
                                <p><strong>關於MVC SIX 的團隊故事</strong></p>
                                <p>
                                    立志帶給他人最棒的網站體驗，為此而成立的工作團隊。<br> 由執行長 高雄曹 先生，一手打造，最優質的網頁製作團隊。<br>各個成員都是大學中身經百戰的選手，從校園每個角落中尋覓到的菁英。
                                </p>
                                <p>2019年，我們都有了一個重要的目標—— 成員人人都要有工作</p>
                            </div>
                        </section>
                    </div>
                </div>
                <h3 class="section-title">關於MVC SIX 的成員</h3>
                <div class="section-body">
                    <div class="gridrow32">
                        <div class="cell">
                            <div class="photo">
                                <p class="name">展逢</p>
                            </div>

                            <!-- <img src=./images/logo.jpg" alt="" style="height: 160px;"> -->
                            <div class="textabout">
                                <h4>組長-曹展逢 <a href="https://www.cakeresume.com/mireille03021">履歷連結</a></h4>
                                <h6>
                                    <strong>建立專案基本架構、雲端資料庫連線　MVC後端程式撰寫、技術支援</strong>
                                </h6>
                                <p>喜歡學習新技術並且熟練它，不怕困難的去嘗試實踐各種想法。<br />這是我第二次團隊協作開發專案，過程中不僅是溝通討論、技術層面都有遇到許多大大小小的問題，能在不到兩個月的時間內邊學邊完成真的受益良多。</p>
                            </div>
                        </div>
                        <div class="cell">
                            <div class="photo">
                                <p class="name">宏遠</p>
                            </div>

                            <!-- <img src=./images/logo.jpg" alt="" style="height: 160px;"> -->
                            <div class="textabout">
                                <h4>林宏遠 <a href="#">履歷連結</a></h4>
                                <h6><strong>MVC後端程式撰寫、網站後台架設</strong></h6>
                                <p>非常充實及紮實的練習過程，不斷的面對問題並解決，學習到許多如何更加快速開發的方式，透過跟組員同儕以及師長的切磋練功，總能讓學習的過程中激出許多不一樣的火花，現在的辛勞耕耘將成為我們未來五點半下班不是夢的重要基石!!<br/>加油!! </p>

                            </div>
                        </div>

                        <div class="cell">
                            <div class="photo">
                                <p class="name">家妘</p>
                            </div>
                            <div class="textabout">

                                <!-- <img src=./images/logo.jpg" alt="" style="height: 160px;"> -->
                                <h4>吳家妘 <a href="https://www.cakeresume.com/ywoei0522">履歷連結</a></h4>
                                <h6><strong>MVC後端程式撰寫、資料庫架設  LineBot聊天機器人</strong></h6>
                                <p>幾周的時間，網站從無到有，分工的巧妙，在這過程中除了精進技術外，也學到不少團隊開發的版控及工具！</p>

                            </div>
                        </div>

                        <div class="cell">
                            <div class="photo">
                                <p class="name">華瑞</p>
                            </div>
                            <div class="textabout">

                                <!-- <img src=./images/logo.jpg" alt="" style="height: 160px;"> -->
                                <h4>曾華瑞 <a href="https://walterportfolio.azurewebsites.net/">履歷連結</a></h4>
                                <h6><strong>前端程式撰寫</strong></h6>

                                <p>
                                    充滿挑戰的日子過得非常快，在短短幾週的時間內，透過團隊合作一點一滴地打造完整的ASP.NET MVC專案。過程中不僅學習到很多新的技術和知識，而且還精進自身前端的技術，並且學習到整合的方式，在困難之中一一克服。
                                </p>

                            </div>
                        </div>

                        <div class="cell">
                            <div class="photo">
                                <p class="name">韋安</p>
                            </div>
                            <div class="textabout">

                                <!-- <img src=./images/logo.jpg" alt="" style="height: 160px;"> -->
                               
                                <h4>陳韋安   <a href="https://www.cakeresume.com/s--ZVaAQ5yGlzuC7FpQInp0qA--/46kuma">履歷連結</a></h4>
                                <h6><strong>前端程式撰寫</strong></h6>
                                <p>
                                    對各種新鮮事物及知識都抱持著誠摯的熱情及謙虛勇敢的學習，也時時關注著各種新發展的技術及科技。<br />近期很熱衷於能帶給使用者獨特體驗的前端設計，並朝向這樣的目標努力，盼望有日能寫出一個帶給使用者難忘的前端互動體驗。
                                </p>

                            </div>
                        </div>

                        <div class="cell">
                            <div class="photo">
                                <p class="name">鈺喬</p>
                            </div>
                            <div class="textabout">

                                <!-- <img src=./images/logo.jpg" alt="" style="height: 160px;"> -->
                                <h4>孫鈺喬 <a href="https://www.cakeresume.com/s--3L_CVpXuyu_3fEIZxkm8UA--/yuqiao56988965ASL">履歷連結</a></h4>
                                <h6><strong>前端程式撰寫</strong></h6>
                                <p>
                                    對許多事物感到好奇，產生興趣，引發學習動機。目前迷航中，處於走一步算一步，遇到挑戰就全力以赴的克服。<br />
                                    在這次MVC專案中，努力理解前端奧妙，獲益良多，成長了許多，也覺得老了許多……。
                                </p>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </div>

</main>
