
@{
    ViewBag.Title = "Refundpolicy";
    Layout = "~/Views/Shared/_Layout_ANVI.cshtml";
}

@section topCSS
{
    <link href="~/Assets/css/normalize.min.css" rel="stylesheet" />
}

<div class="container">
    <h1>KUMA</h1>
    <h2 class="container-title">Refund policy</h2>
    <div data-content="">
        <p>
            We offer free exchange/returns for Store Credit ONLY within 14 days of delivery.
            <br>No questions asked
        </p>

        <p>Our policy lasts 14 days. If 14 days have gone by since you received purchase, unfortunately we can’t offer you a refund or exchange.</p>

        <p>Only regular priced items may be refunded, unfortunately sale items/gift card are cannot be refunded.</p>

        <p>If you are not fully satisfied with your purchase, please email for a return authorization at: service@anvistudios.com (no refund will be granted without return authorization). </p>

        <p>Returns must be sent back within 14 days after you received and your item must be unused and in the same condition that you received it. It must also be in the original packaging.</p>

        <p>For your protection, please return your order with an insured courier (e.g. FedEx, UPS, DHL) and retain your receipt.  We are not responsible for items damaged or lost in transit. Please include a note with your name and invoice number.</p>

        <p>We will send you an email to notify you that we have received your returned item and the Store Credit equivalent to the total cost of the items returned.</p>

        <p>If you haven’t received a refund email , please contact us at service@anvistudios.com.</p>

    </div>
</div>