
@{
    ViewBag.Title = "Returns";
   
}

@section topCSS
{
    <link href="~/Assets/css/word-text.css" rel="stylesheet" />
}
<main id="main" role="main">

    <div class="Container">
        <header class="PageHeader">
            <div class="SectionHeader SectionHeader--center">
                <h1 class="SectionHeader__Heading Heading u-h1">退/換貨須知</h1>
            </div>
        </header>

        <div class="PageContent PageContent--narrow Rte">
            <h4></h4><h2 style="text-align: center;">台灣顧客退換貨注意事項</h2><p>消費者享有商品貨到後七天猶豫期(含例假日)的權益 ( 收到商品後隔天起算為第一天，含：如收件地址有管理員代收，則以管理員簽收的隔日起算)，欲退購者，請於七日內以郵件方式提出申請退/換貨，逾期恕不受理。</p><p>退回的商品必須是全新狀態、且還原完整包裝 (含商品本體及包裝(袋、盒、紙卡)的完整性)， 請勿缺漏任何配件、勿自行拆解檢查商品或損毀。包裝都屬於商品的一部分，遺失、毀損或缺件將可能影響您退貨的權益，也可能依照損毀程度扣除為回復原狀所必要的費用。&nbsp;</p><p>退換貨須自行負擔運費 ，請在收到商品7日之內與客服人員聯繫，確認後再寄出，自行寄出者恕不受理。</p><p>‧ 客服電話：(02)2755-5779，請於週一至週五9:30m至18:30pm來電。</p><p>‧ 客服信箱：<a href="mailto:service@anvistudios.com">service@kumastudios.com</a></p><p style="text-align: center;">****以上說明僅限台灣地區****</p>
        </div>
    </div>
</main>