
@{
    ViewBag.Title = "Shipping";

}

@section topCSS
{
    <link href="~/Assets/css/word-text.css" rel="stylesheet" />
}
    <main id="main" role="main">

        <div class="Container">
            <header class="PageHeader">
                <div class="SectionHeader SectionHeader--center">
                    <h1 class="SectionHeader__Heading Heading u-h1">運送須知</h1>
                </div>
            </header>

            <div class="PageContent PageContent--narrow Rte">
                <h2 style="text-align: center;"><strong>台灣地區運費與運送方式</strong></h2><ul><li>全台免運費</li><li>出貨方式：宅配包裹</li><li>出貨時間：依照訂單順序約3~5個工作天出貨，出貨後2~4天內送達。(配送時間皆不包含例假日)</li><li>注意！收件地址請勿為郵政信箱。</li></ul><p style="text-align: center;"></p><p style="text-align: center;"></p><p style="text-align: center;"></p><h2 style="text-align: center;"><strong>國際運費與運送方式</strong></h2><ul><li>中國：<ul><li>SF Express(順豐快遞)：NT.200元 / 消費滿NT.4500元免運費</li></ul></li><li>香港：<ul><li>SF Express(順豐快遞)：NT.150元 / 消費滿NT.4500元免運費</li></ul></li><li>其他地區：<ul><li>DHL Express，費用於結帳時自動計算。消費滿NT.4500元免運費</li></ul></li><li>出貨時間：依照訂單順序約3~5個工作天出貨，出貨後2~7天送達。(配送時間皆不包含例假日)</li></ul><p style="text-align: center;">注意！收件地址請勿為郵政信箱。</p><p></p>
            </div>
        </div>
    </main>