@{
    ViewBag.Title = "Home Page";
}
@section topCSS
{
    <link href="~/Assets/css/header-styles-index.css" rel="stylesheet" />
    <link href="~/Assets/css/hot.css" rel="stylesheet" />
    <link href="~/Assets/css/Home__Slideshow.css" rel="stylesheet" />



}
@section endJS
{
    <script src="~/Assets/js/jquery-3.3.1.js"></script>
    <script src="~/Assets/js/header-js.js"></script>
    <script type="text/javascript" src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="~/Assets/js/Home.js"></script>
}
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
<div class="pot"></div>
<main id="main" role="main">
    <!-- BEGIN content_for_index -->
    <div id="shopify-section-slideshow" class="shopify-section shopify-section--slideshow">
        <section id="section-slideshow"
                 data-section-id="slideshow"
                 data-section-type="slideshow">
            <div class="Slideshow Slideshow--fullscreen">
                <div class="Slideshow__Carousel Slideshow__Carousel--withScrollButton Carousel Carousel--fadeIn Carousel--fixed Carousel--insideDots"
                     data-flickity='{
                        "prevNextButtons": false,
                        "setGallerySize": false,
                        "wrapAround": true,
                        "pauseAutoPlayOnHover": false,
                        "autoPlay": 5000,
                        "pageDots": true
                      }'>
                    <div id="Slideslide-1"
                         class=" Slideshow__Slide Carousel__Cell"
                         style="visibility: visible"
                         data-slide-index="0">
                        <div id="animation_1" class="Slideshow__ImageContainer   hidden-tablet-and-up"
                             style=" background-image: url(/Assets/images/Home/HP2_1800x.jpg)">
                            <img class="Slideshow__Image Image--lazyLoad"
                                 src="~/Assets/images/Home/HP2_1800x.jpg"
                                 alt="" />
                        </div>
                        <!-- <div class="Slideshow__ImageContainer   hidden-phone"
                          style=" background-image: url(//cdn.shopify.com/s/files/1/2023/9563/files/ANVI-APRIL-ARRIVAL-Cover_1x1.jpeg.jpg?v=1554252660)"
                        >
                          <img class="Slideshow__Image Image--lazyLoad hide-no-js"
                            data-src="//cdn.shopify.com/s/files/1/2023/9563/files/ANVI-APRIL-ARRIVAL-Cover_{width}x.jpeg?v=1554252660"
                            data-optimumx="1.2"
                            data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800]"
                            data-sizes="auto"
                            alt=""
                          />

                        </div> -->
                        <!--文字框-->
                        <div class="s1 Slideshow__Content Slideshow__Content--middleRight">
                            <header class="SectionHeader">
                                <h3 class="SectionHeader__SubHeading Heading u-h6">
                                    金屬的光芒與鋯石的耀眼，簡約經典卻又與眾不同
                                </h3>
                                <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">
                                    Monthly New Arrival
                                </h2>
                                <div class="SectionHeader__ButtonWrapper">
                                    <div class="ButtonGroup ButtonGroup--spacingSmall ">
                                        <a href="/collections/new-arrival"
                                           class="ButtonGroup__Item Button">前往新品</a>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                    <div id="Slideslide-2"
                         class=" Slideshow__Slide Carousel__Cell "
                         data-slide-index="1">
                        <div id="animation_2" class=" Slideshow__ImageContainer   hidden-tablet-and-up"
                             style=" background-image: url(/Assets/images/Home/ANVI-APRIL-ARRIVAL-Cover-Mobile_1800x.jpeg)">
                            <img class=" Slideshow__Image Image--lazyLoad"
                                 src="~/Assets/images/Home/ANVI-APRIL-ARRIVAL-Cover-Mobile_1800x.jpeg"
                                 @*data-src="//cdn.shopify.com/s/files/1/2023/9563/files/ANVI-APRIL-ARRIVAL-Cover-2-Mobile_x800.jpeg?v=1554252655"*@
                                 alt="" />
                        </div>
                        <!-- <div class="Slideshow__ImageContainer   hidden-phone"
                          style=" background-image: url(//cdn.shopify.com/s/files/1/2023/9563/files/ANVI-APRIL-ARRIVAL-Cover-Mobile_1x1.jpeg.jpg?v=1554252660)"
                        >
                          <img class="Slideshow__Image Image--lazyLoad hide-no-js"
                            data-src="//cdn.shopify.com/s/files/1/2023/9563/files/ANVI-APRIL-ARRIVAL-Cover-Mobile_{width}x.jpeg?v=1554252660"
                            data-optimumx="1.2"
                            data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800]"
                            data-sizes="auto"
                            alt=""
                          />
                        </div> -->
                        <!--文字框-->
                        <div class="Slideshow__Content Slideshow__Content--middleLeft">
                            <header class="SectionHeader">
                                <h3 class="SectionHeader__SubHeading Heading u-h6">
                                    金屬的光芒與鋯石的耀眼，簡約經典卻又與眾不同
                                </h3>
                                <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">
                                    Monthly New Arrival
                                </h2>
                                <div class="SectionHeader__ButtonWrapper">
                                    <div class="ButtonGroup ButtonGroup--spacingSmall ">
                                        <a href="/collections/new-arrival"
                                           class="ButtonGroup__Item Button">前往新品</a>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>

                    <div id="Slideslide-3"
                         class="Slideshow__Slide Carousel__Cell "
                         data-slide-index="2">
                        <div id="animation_3"
                             class="Slideshow__ImageContainer   hidden-tablet-and-up"
                             style=" background-image: url(/Assets/images/Home/ANVI-GRACEFUL_ADVENTURE-Spring_Summer_2019_Collection_HomeSlide1_1800x.jpg)">
                            <img class="Slideshow__Image Image--lazyLoad"
                                 src="~/Assets/images/Home/ANVI-GRACEFUL_ADVENTURE-Spring_Summer_2019_Collection_HomeSlide1_1800x.jpg"
                                 data-src="//cdn.shopify.com/s/files/1/2023/9563/files/ANVI-GRACEFUL_ADVENTURE-Spring_Summer_2019_Collection_MobileHomeSlide1_x800.jpg?v=1548917929"
                                 alt="" />

                        </div>
                        <!-- <div
                          class="Slideshow__ImageContainer   hidden-phone"
                          style=" background-image: url(//cdn.shopify.com/s/files/1/2023/9563/files/ANVI-GRACEFUL_ADVENTURE-Spring_Summer_2019_Collection_HomeSlide1_1x1.jpg?v=1548917723)"
                        >
                          <img
                            class="Slideshow__Image Image--lazyLoad hide-no-js"
                            data-src="//cdn.shopify.com/s/files/1/2023/9563/files/ANVI-GRACEFUL_ADVENTURE-Spring_Summer_2019_Collection_HomeSlide1_{width}x.jpg?v=1548917723"
                            data-optimumx="1.2"
                            data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800]"
                            data-sizes="auto"
                            alt=""
                          />
                        </div> -->
                        <!--文字框-->
                        <div class="Slideshow__Content Slideshow__Content--middleLeft">
                            <header class="SectionHeader">
                                <h3 class="SectionHeader__SubHeading Heading u-h6">
                                    善用優美的格調，堅毅的自信，大膽開創自己的故事
                                </h3>
                                <h2 class="SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">
                                    Graceful Adventure 系列
                                </h2>
                                <div class="SectionHeader__ButtonWrapper">
                                    <div class="ButtonGroup ButtonGroup--spacingSmall ">
                                        <a href="/blogs/press/graceful-adventure"
                                           class="ButtonGroup__Item Button">探索系列</a>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
                <button id="section-end"
                        data-href="#section-slideshow-end"
                        class="Slideshow__ScrollButton RoundButton RoundButton--medium"
                        aria-label="Scroll to content"
                        data-animate-bottom>
                    <svg class="Icon Icon--arrow-bottom" role="presentation" viewBox="0 0 21 11">
                        <polyline fill="none" stroke="currentColor" points="0.5 0.5 10.5 10.5 20.5 0.5" stroke-width="1.25"></polyline>
                    </svg>
                </button>
            </div>

            <span id="section-slideshow-end" class="Anchor"></span>
        </section>
    </div>

    <header id="" class="PageHeader">
        <div class="Container">
            <div class="SectionHeader">
                <h1 class="SectionHeader_Heading">PRODUCTS CATEGORY</h1>
            </div>
        </div>
    </header>

    <div class="CollectionMain">
        <div class="ProductItemListWrapper">
            <div id="PIL" class="ProductItemList">
                <div id="i1" class="Grid__Cell animated-block">
                    <div class="ProductItem">
                        <a src="" href="#">
                            <img class="img_bottom" src="~/Assets/images/Bracelets/2_fae8f255-1152-4a34-8c7b-54b8f3033a87_900x.jpg" alt="" />
                            <img id="S1" src="~/Assets/images/EarRings/B19401_900x.jpg" alt="" />
                        </a>
                        <div class="ProductItem_Info ">
                            <h2 class="ProductItem_Title Heading">鋯石純銀耳環</h2>
                            <div class="ProductItem_PriceList Heading">
                                <span class="ProductItem_Price">
                                    <span>$1,000 TWD</span>
                                </span>
                            </div>
                            <div class="ProductItem_ColorSwatchList">
                                <div class="ProductItem_ColorSwatchItem">
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               check="#S1"
                                               value="1"
                                               src="image/1.jpeg"></label>
                                    </div>
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               check="#S1"
                                               value="2"
                                               src="image/2.jpeg">
                                        </label>
                                    </div>
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               check="#S1"
                                               value="3"
                                               src="image/3.jpg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="i2" class="Grid__Cell  animated-block">
                    <div class="ProductItem">
                        <a src="" href="#">
                            <img class="img_bottom" src="~/Assets/images/EarRings/G3_a94660c7-92de-46e5-966d-617f55f9d59e_900x.jpg" alt="" />
                            <img id="#S2" src="~/Assets/images/EarRings/E19402G-1_900x.jpg" />
                        </a>
                        <div class="ProductItem_Info ">
                            <h2 class="ProductItem_Title Heading">鋯石純銀耳環</h2>
                            <div class="ProductItem_PriceList Heading">
                                <span class="ProductItem_Price">
                                    <span>$1,000 TWD</span>
                                </span>
                            </div>
                            <div class="ProductItem_ColorSwatchList">
                                <div class="ProductItem_ColorSwatchItem">
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="1"
                                               src="image/2.jpeg"></label>
                                    </div>
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="2"
                                               src="image/3.jpg">
                                        </label>
                                    </div>
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="3"
                                               src="image/1.jpeg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="i3" class="Grid__Cell  animated-block">
                    <div class="ProductItem">
                        <a src="" href="#">
                            <img class="img_bottom" src="~/Assets/images/Necklaces/3_3_2e459b5c-083d-4682-9861-2718a9292092_900x.jpg" alt="" />
                            <img id="#S3" src="~/Assets/images/Necklaces/N19402G_900x.jpg" alt="" />
                        </a>
                        <div class="ProductItem_Info ">
                            <h2 class="ProductItem_Title Heading">鋯石純銀耳環</h2>
                            <div class="ProductItem_PriceList Heading">
                                <span class="ProductItem_Price">
                                    <span>$1,000 TWD</span>
                                </span>
                            </div>
                            <div class="ProductItem_ColorSwatchList">
                                <div class="ProductItem_ColorSwatchItem">
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="1"
                                               src="image/2.jpeg"></label>
                                    </div>
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="2"
                                               src="image/3.jpg">
                                        </label>
                                    </div>
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="3"
                                               src="image/1.jpeg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="i4" class="Grid__Cell  animated-block">
                    <div class="ProductItem">
                        <a src="" href="#">
                            <img class="img_bottom" src="~/Assets/images/Rings/1_0fe82ab3-bb99-4711-96c4-b47f2b1d25ac_900x.jpg" alt="" />
                            <img id="#S4" src="~/Assets/images/Rings/R19303_900x.jpg" alt="" />
                        </a>
                        <div class="ProductItem_Info ">
                            <h2 class="ProductItem_Title Heading">鋯石純銀耳環</h2>
                            <div class="ProductItem_PriceList Heading">
                                <span class="ProductItem_Price">
                                    <span>$1,000 TWD</span>
                                </span>
                            </div>
                            <div class="ProductItem_ColorSwatchList">
                                <div class="ProductItem_ColorSwatchItem">
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="1"
                                               src="image/2.jpeg"></label>
                                    </div>
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="2"
                                               src="image/3.jpg">
                                        </label>
                                    </div>
                                    <div class="ColorSwatchItem">
                                        <label class="ColorSwatch ColorSwatch-small Cl"
                                               value="3"
                                               src="image/1.jpeg">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="shopify-section-ahop-the-look" class="shopify-section shopify-section--bordered">
        <section class="Section Section--spacingNormal">
            <header class="SectionHeader SectionHeader--center">
                <div class="Containe">
                    <h2 class="SectionHeader__Heading Heading u-h1">本周熱銷推薦</h2>
                </div>
            </header>
            <div class="ShopTheLook Carousel flickity-enabled" tabindex="0">
                <div class="flickity-viewport" style="height:550.667px;">
                    <div class="filckity-slider" style="left:0px;transform:translateX(0px);">

                        <div id="block-1554246782998" class="ShopTheLook__Item Carousel__Cell is-selected" style="position:absolute;left:0px;">
                            <div class="ShopTheLook__Inner">
                                <div class="ShopTheLook__ImageWrapper" style="width:413px; height: 550.567px;">
                                    <div class="AspectRatio AspectRatio--withFallback" style="max-width:1600px;padding-bottom:133.3125%;--aspecr-ratio:0.750112172058134083;">
                                        <img src="~/Assets/images/otherphoto/IMG_0734_1200x.progressive.jpg" alt="" class="ShopTheLook__Image Image--fadeIn laztautosize Image--lazyLoaded" sizes="413px">
                                        <!-- 這邊有很多 -->
                                    </div>
                                    <!-- 記得點點要改位置或隱藏 -->
                                    <span class="ShopTheLook__Dot ShopTheLook__Dot--light" style="left:73%;top:57%;">
                                    </span>
                                    <span class="ShopTheLook__Dot ShopTheLook__Dot--light is--active" style="left:66%;top:37%;">
                                    </span>

                                </div>
                                <div class="ShopTheLook__ProductList Carousel Carousel--fadeIn hidden-pocket flickity-enabled" tabindex="0">
                                    <div class="flickity-viewport" style="height:313.6px;">
                                        <div class="flickity-slider" style="left:0px;transform:translatr(0%);">
                                            <div class="ShopTheLook__ProductItem Carousel__Cell is-selected" style="position:absolute;left:0%;">
                                                <div class="ProductItem">
                                                    <div class="ProductItem__Wrapper">
                                                        <a href="" class="ProductItem__ImageWrapper ProductItem__ImageWrapper--withAlternateImage ">
                                                            <!-- <div class="AspectRatio AspectRatio--withFallback" style="max-width:1050px;padding-bottom:100.0%;--aspcet-ratio:1.0;"> -->
                                                            <img src="~/Assets/images/Necklaces/4_5400f2af-b2e2-4fc0-9d7a-14cd08bec319_900x.jpg" alt="八芒星圓片吊飾純銀項鍊" class="ProductItem__Image ProductItem__Image Image--fadeIn lazyautosizes Image--lazyLoaded" sizes="250px">
                                                            <img src="~/Assets/images/Necklaces/N19403_900x.jpg" alt="八芒星圓片吊飾純銀項鍊" class="ProductItem__Image ProductItem__Image--alternate Image--fadeIn lazyautosizes Image--lazyLoaded" sizes="250px">
                                                            <span class="Image__Loader"></span>
                                                            <!-- </div> -->
                                                        </a>

                                                    </div>
                                                </div>



                                            </div>

                                            <!-- <div class="ShopTheLook__ProductItem Carousel__Cell " style="position:absolute;left:0%;">
                                                <div class="ProductItem">
                                                    <div class="ProductItem__Wrapper">
                                                        <a href="" class="ProductItem__ImageWrapper--withAlternateImage">
                                                            <div class="AspectRatio AspectRatio--withFallback" style="max-width:1050px;padding-bottom:100.0%;--aspcet-ratio:1.0;">
                                                                <img src="" alt="" class="ProductItem__Image ProductItem__Image--alternate Image--fadeIn lazyautosizes Image--lazyLoaded">
                                                                <img src="" alt="" class="ProductItem__Image Image--fadeIn lazyautosizes Image--lazyLoaded">
                                                                <span class="Image__Loader"></span>
                                                            </div>
                                                        </a>
                                                        <div class="ProductItem__Info ProductItem__Info--center">
                                                            <h2 class="ProductItem__Title Heading">
                                                                <a href="">經典開口設計手環</a>
                                                            </h2>
                                                            <div class="ProductItem__PriceList Heading">
                                                                <span class="ProductItem__Price Price Text--subdued">
                                                                             <span>
                                                                                 $3,300 TWD
                                                                             </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->


                                        </div>

                                    </div>
                                    <div class="ProductItem__Info ProductItem__Info--center">
                                        <h2 class="ProductItem__Title Heading">
                                            <a href="">八芒星圓片吊飾純銀項鍊</a>
                                        </h2>
                                        <div class="ProductItem__PriceList Heading">
                                            <span class="ProductItem__Price Price Text--subdued">
                                                <span>
                                                    $3,300 TWD
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <a href="#" class="ShopTheLook__ViewButton Button Button--primary Button--full">
                                        VIEW THIS PRODUCT
                                    </a>
                                    <ol class="flickity-page-dots">
                                        <li class="dottodot is-selected"></li>
                                        <li class="dottodot "></li>
                                    </ol>
                                </div>



                            </div>
                        </div>


                        <!-- ID跟內容都要補 -->


                    </div>

                </div>

                <button class="flickity-prev-next-button previous" type="button" aria-label="previous"><svg viewBox="0 0 100 100"><path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow"></path></svg></button>
                <button class="flickity-prev-next-button next" type="button" aria-label="next"><svg viewBox="0 0 100 100"><path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
            </div>
            <!-- <div class="ShopTheLook__DiscoverButtonWrapper hidden-lap-and-up">
                <button class="ShopTheLook__ViewButton Button Button--primary">
                      View products
                    </button>
            </div> -->
        </section>
    </div>



    <div id="shopify-section-footer"
         class="shopify-section shopify-section--footer">
        <footer id="section-footer" class="Footer  " role="contentinfo">
            <div class="Container">
                <div class="Footer__Block Footer__Block--text">
                    <h2 class="Footer__Title Heading u-h6">關於ANVI</h2>
                    <div class="Footer__Content Rte">
                        <p>
                            ANVI
                            Studios為新創銀飾品牌，專為對於品味與時尚有所追求的女性，打造極簡、質感、富含女性魅力的精緻飾品。
                        </p>
                        <p>
                            ANVI相信每位女性都有天生魅力、個人風格，而表態就該由天天配戴的飾品開始。ANVI
                            Studios承襲多年的精品工藝，擅長製作頂尖質感，揉合現代設計風格與時尚外型，為女人畫龍點睛，高貴飾品不該只放在展間，應以合理售價取得並作為日常不可或缺的單品。
                        </p>
                        <p>ANVI Girl為摩登、經典、優雅的代名詞。</p>
                    </div>
                </div>
            </div>
            <div class="Footer__Block Footer__Block--links">
                <div class="Container">
                    <h2 class="Footer__Title Heading u-h6">Main Footer menu</h2>

                    <ul class="Linklist">
                        <li class="Linklist__Item">
                            <a href="/pages/shipping" class="Link Link--primary">運送須知</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="/pages/returns" class="Link Link--primary">退/換貨須知</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="/pages/privacy" class="Link Link--primary">隱私政策</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="/pages/terms-and-conditions"
                               class="Link Link--primary">服務條款</a>
                        </li>
                        <li class="Linklist__Item">
                            <a href="/pages/contact" class="Link Link--primary">聯絡我們</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="Footer__end">
            <a href="https://www.anvistudios.com"
               class="Footer__StoreName Heading u-h7 Link Link--secondary">© ANVI | 日常輕珠寶成就女性迷人魅力</a>
        </div>
    </div>
</main>









<script>



    $(function () {
        $(".shop").hover(function () {
            $(".MenuList").css("visibility", "visible");
        });
    });

    $(function () {
        $(".new").hover(function () {
            $(".MenuList").css("visibility", "hidden");
        });
    });
    $(function () {
        $(".about_us").hover(function () {
            $(".MenuList").css("visibility", "hidden");
        });
    });

    $(function () {
        $(".MenuList").hover(function () {
            $(".MenuList").css("visibility", "visible");
        }, function () {
            $(".MenuList").css("visibility", "hidden");
        });
    });
    $(function () {
        $(".topnemu").hover(function () {

        }, function () {
            $(".MenuList").css("visibility", "hidden");
        });
    });
    //應該要寫一個語法合併上面

    //這邊下面寫滾動卷軸動作
    $(function () {
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 15) {
                $('#header').addClass('fixed');

                //$('.topnemulinetwo ul').css({
                //    "background- color": "rgba(255, 255, 255, 0)",
                //    "color": "#ffffff"

                //});
                //$('.topnemu').css({
                //    "background- color": "rgba(255, 255, 255, 0)"
                //    ,"color": "#ffffff"
                //});

            } else {
                $('#header').removeClass('fixed');
                //$('.topnemu').css({
                //    "background- color": "#ffffff"
                //    , "color": "#1C1B1B"
                //});

            }
        });
    });


</script>
