@using System.Web.UI.WebControls
@using Image = ANVI_Mvc.Models.Image
@model List<Product>
@{
    ViewBag.Title = "ProductsPage";
    List<Product> products = (List<Product>)ViewBag.products;
    List<Image> images = (List<Image>)ViewBag.Images;
    List<ProductPageViewModel> pdTmps = (List<ProductPageViewModel>)ViewBag.productDetails;
}

@section topCSS
{
    <link href="~/Assets/css/ProductPage.css" rel="stylesheet" />
}
@section endJS
{
    <script type="text/javascript" src="~/Assets/js/ProductPage.js"></script>
}
<header class="PageHeader">
    <div class="Container">
        <div class="SectionHeader">
            <h1 class="SectionHeader_Heading">PRODUCTS</h1>
        </div>
    </div>
</header>
<div class="CollectionMain">
    <div class="ProductItemListWrapper">
        <div class="ProductItemList ">
            @for (int i = 0; i < products.Count(); i++)
            {
                <div id="i@(i+1)" class="Grid__Cell animated-block">
                    <div class="ProductItem">
                        <a src="" href="/Home/ProductDetailPage/@products[i].ProductID">
                            @foreach (var item in pdTmps)
                            {
                                if (products[i].ProductID == item.ProductID)
                                {
                                    var imgList = images.Where(x => x.PDID == item.PDID).Select(x => x.ImgName).ToList();
                                    <img class="img_bottom" src="~/Assets/images/@item.CategoryName/@imgList[1]" alt="" />
                                    <img id="#S@(i + 1)" src="~/Assets/images/@item.CategoryName/@imgList[0]" alt="" />
                                    break;
                                }
                            }
                        </a>
                        <div class="ProductItem_Info ">
                            <h2 class="ProductItem_Title Heading">@products[i].ProductName</h2>
                            <div class="ProductItem_PriceList Heading">
                                <span class="ProductItem_Price">
                                    <span>$@Math.Floor((decimal)products[i].UnitPrice)TWD</span>
                                </span>
                            </div>
                            @*<div class="ProductItem_ColorSwatchList">
                                    <div class="ProductItem_ColorSwatchItem">
                                        <div class="ColorSwatchItem">
                                            <label class="ColorSwatch ColorSwatch-small Cl" check="#S1" value="1" src="image/1.jpeg"></label>
                                        </div>
                                        <div class="ColorSwatchItem">
                                            <label class="ColorSwatch ColorSwatch-small Cl" check="#S1" value="2" src="image/2.jpeg"> </label>
                                        </div>
                                        <div class="ColorSwatchItem">
                                            <label class="ColorSwatch ColorSwatch-small Cl" check="#S1" value="3" src="image/3.jpg"> </label>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            }
            <div class="Grid__Cell animated-block" style="display: none;"></div>
        </div>
    </div>
</div>