@model List<ProductPageViewModel>
@{
    string ActionName = ViewBag.ActionName.ToString();
    string ControllerName = ViewBag.Controller.ToString();
}
@section topCSS
{
    <link href="~/Assets/css/ProductPage.css" rel="stylesheet" />
}
@section endJS
{
    <script type="text/javascript" src="~/Assets/js/ProductPage.js"></script>
}
<header class="PageHeader">
    <div class="Container">
        <div class="SectionHeader">
            <h1 class="SectionHeader_Heading">@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div class="CollectionMain">
    <div class="ProductItemListWrapper">
        <div class="ProductItemList ">
            @Html.Action(ActionName,ControllerName)
            <div class="Grid__Cell animated-block" style="display: none;"></div>
        </div>
    </div>
</div>
