<header id="header" class="header bg-dark">
    <div class="header-menu">
        <div class="col-sm-12 text-center">
            <h1 class="Heading u-h1 text-white">KUMA Back System</h1>
        </div>
    </div>

</header><!-- /header -->
