@using ANVI_Mvc.Services

@{
    bool GetSomthing = false;
    var currentCart = new CartModel(); //取得目前購物車資料
    if (CartService.GetCurrentCart() != null) //判斷是否有東西
    {
        GetSomthing = true;
        currentCart = CartService.GetCurrentCart();
    }
    var Img = ViewBag.Img;
}



    @if (GetSomthing)
    {

        foreach (var item in currentCart)
        {


            <tr class="product">
                <td class="product__image">
                    <div class="product-thumbnail">
                        <div class="product-thumbnail__wrapper">
                            <img src="~/Assets/images/@item.CategoryName/@Img[0]" class="product-thumbnail_image" />
                        </div>
                        <span class="product-thumbnail__quantity" id="Quantity">@item.Quantity</span>
                    </div>
                </td>
                <td class="product__description">
                    <span class="product_description_name order-summary__emphasis">
                        @item.ProductName
                    </span>
                    <span class="product_description_variant order-summary__small-text">
                        @item.ColorName/@item.SizeContext
                    </span>

                </td>
                <!--有一個TD序號 -->
                <td class="product__price">
                    <span class=" .order-summary__emphasis">$@item.UnitPrice.ToString("##,###") TWD</span>
                </td>
            </tr>
        }
    }


    @*<tr class="product">
            <td class="product__image">
                <div class="product-thumbnail">
                    <div class="product-thumbnail__wrapper">
                        <img src="~/Assets/images/otherphoto/2_c6e0228b-9fef-409e-a0a0-1f791a63bb48_400x.jpg" class="product-thumbnail_image"/>


                    </div>
                    <span class="product-thumbnail__quantity">1</span>
                </div>
            </td>
            <td class="product__description">
                <span class="product_description_name order-summary__emphasis">
                    金屬面側編浩石耳環(MINI)
                </span>
                <span class="product_description_variant order-summary__small-text">
                    Silver
                </span>

            </td>
            有一個TD序號
            <td class="product__price">
                <span class=" .order-summary__emphasis">$1,185.01 TWD</span>
            </td>
        </tr>*@



