@using ANVI_Mvc.Services

@{
    bool GetSomthing = false;
    var currentCart = new CartModel(); //取得目前購物車資料
    if (CartService.GetCurrentCart() != null) //判斷是否有東西
    {
        GetSomthing = true;
        currentCart = CartService.GetCurrentCart();
    }
    var Img = ViewBag.Img;


}


<div id="order-summary" class="order-summary">
    <div class="order-summary__sections">
        <div class="order-summary__section order-summary__section--product-list">
            <div class="order-summary__section_content">
                <table class="product-table">
                    <tr>

                    <tbody>
                        @if (GetSomthing)
                        {
                            var i = 0;

                            foreach (var item in currentCart)
                            {


                                <tr class="product">
                                    <td class="product__image">
                                        <div class="product-thumbnail">
                                            <div class="product-thumbnail__wrapper">
                                                <img src="~/Assets/images/@item.CategoryName/@Img[i]" class="product-thumbnail_image" />
                                            </div>
                                            <span class="product-thumbnail__quantity" id="Quantity">@item.Quantity</span>
                                        </div>
                                    </td>
                                    <td class="product__description">
                                        <span class="product_description_name order-summary__emphasis">
                                            @item.ProductName
                                        </span>
                                        <span class="product_description_variant order-summary__small-text">
                                            @item.ColorName/@item.SizeContext
                                        </span>

                                    </td>
                                    <!--有一個TD序號 -->
                                    <td class="product__price">
                                        <span class=" .order-summary__emphasis">
                                            $@item.UnitPrice.ToString("##,###") TWD

                                        </span>
                                    </td>
                                </tr>

                                i++;
                            }
                        }
                    </tbody>

                </table>
                <!-- 查看更多 -->
            </div>
        </div>


        <div class="order-summary__section order-summary__section--discount">

            <!-- 禮品或折扣代碼 -->

            <form action="" class="edit__checkout">
                <div class="fieldset">
                    <div class="field">
                        <div class="field__input-btn-wrapper">
                            <div class="field__input-wrapper">
                                <input class="field__input" type="text" id="checkout_reduction_code" placeholder="禮卡 或 折扣代碼" size="30" name="checkout[reduction_code]">
                            </div>
                            <button class="btn field__input-btn btn--disabled" name="button" type="submit" disabled="disabled">
                                <!-- 應該寫JS控制 -->
                                <span class="btn__content">Apply</span>
                                <!-- loadingicon -->
                            </button>
                        </div>

                    </div>
                </div>
            </form>

        </div>
        <div class="order-summary__section">
            <table class="total-line-table">
                <thead></thead>
                <tbody class="total-line-table__tbody">

                    <tr class="total-line total-line--subtotal">
                        <th class="total-line__name" scope="row">小計</th>
                        <td class="total-line__price">
                            <span class="order-summary__emphasis id='SubTotal'">
                                $@currentCart.TotalAmount.ToString("##,###")TWD
                            </span>
                        </td>
                    </tr>
                    <tr class="total-line total-line--shipping">
                        <th class="total-line__name" scope="row">
                            運費

                        </th>
                        <td class="total-line__price">
                            <span class="order-summary__small-text">
                                免費
                            </span>
                        </td>

                    </tr>
                </tbody>
                <tfoot class="total-line-table__footer">
                    <tr class="total-line">
                        <th class="total-line_name payment-sue-label" scope="row">
                            <span class="payment-due-label__total">
                                總計

                            </span>
                            <!-- <span class="payment-due-label__taxes order-summary__small-text">
                            稅:
                            <span>$56.43 TWD</span>
                                </span> -->
                        </th>
                        <td class="total-line__price payment-due">

                            <span class="payment-due__price">
                                $@currentCart.TotalAmount.ToString("##,###")TWD
                            </span>
                        </td>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
</div>


