@model IEnumerable<ProductDetail>
@{
    Layout = "~/Views/Shared/_BackSystem_Layout.cshtml";
    ViewBag.Title = "庫存圖表";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>圖表</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">圖表</a></li>
                    <li class="active">庫存圖表</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-3">Bar Chart</h4>
                        <canvas id="StockChart" style="width:100%; height:275px;"></canvas>
                    </div>
                </div><!-- /# card -->
            </div><!-- /# column -->
        </div><!-- /# row -->
    </div><!-- .animated -->
</div>

@section endJS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script>
        @{
            if (ConstantData.BackgroundColor.Count == 0)
            {
                ConstantData.CreatBackgroundColor();
            }
            if (ConstantData.BorderColor.Count == 0)
            {
                ConstantData.CreatBorderColor();
            }
            int count = (int) ViewData["Count"];
            string[] labels = new string[count];
            string[] data = new string[count];
            string[] backgroungColor = new string[count];
            string[] borderColor = new string[count];
            int i = 0;

            foreach (var item in Model)
            {
                labels[i] = item.PDID;
                data[i] = $"{item.Stock}";
                if (item.Stock < 5)
                {
                    backgroungColor[i] = ConstantData.BackgroundColor[(int) ConstantData.StockEnough.NotEnough5];
                    borderColor[i] = ConstantData.BorderColor[(int) ConstantData.StockEnough.NotEnough5];
                }
                else if (item.Stock < 10 && item.Stock > 5)
                {
                    backgroungColor[i] = ConstantData.BackgroundColor[(int) ConstantData.StockEnough.Enough5NotEnough10];
                    borderColor[i] = ConstantData.BorderColor[(int) ConstantData.StockEnough.Enough5NotEnough10];
                }
                else
                {
                    backgroungColor[i] = ConstantData.BackgroundColor[(int) ConstantData.StockEnough.Enough10NotEnough20];
                    borderColor[i] = ConstantData.BorderColor[(int) ConstantData.StockEnough.Enough10NotEnough20];
                }
                i++;
            }
        }
        var ctx = document.getElementById('StockChart').getContext('2d');
        var StockChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: @labels,
                datasets: [{
                    label: "數量",
                    data: @data,
                    backgroundColor: @backgroungColor,
                    borderColor: @borderColor,
                    borderWidth: 1
                }]
            }
        });
    </script>
}