@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC|Titillium+Web&display=swap');
/*大範圍*/
*, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

    a:active, a:hover {
        outline: 0;
    }

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

    button, input[type="submit"] {
        padding: 0;
        overflow: visible;
        background: none;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
    }

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

:active {
    outline: none;
}

.Link, .shopify-payment-button__more-options {
    -webkit-transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.Heading {
    font-family: 'Titillium Web', sans-serif, 'Noto Serif TC', serif;
    font-weight: 400;
    font-style: normal;
    color: #1c1b1b;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.Text--subdued {
    color: #6a6a6a;
}

a:active, a:hover {
    outline: 0;
}

.u-h6, .Rte h6 {
    font-size: 13px;
}

.u-h7 {
    font-size: 12px;
}

.Icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    stroke-width: 1px;
    background: none;
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

/*頭部邊線*/

.Header {
    background: #fff;
    color: #1c1b1b;
    -webkit-box-shadow: 0 -1px #ddd inset;
    box-shadow: 0 -1px #ddd inset;
    -webkit-transition: background 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/*黑色半透明*/
.PageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    background: #363636;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

    .PageOverlay.is-visible {
        opacity: 0.5;
        visibility: visible;
    }

/*黑色大範圍*/
.Drawer {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: calc(100vw - 65px);
    height: 100vh;
    max-height: none;
    z-index: 20;
    -webkit-transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.Drawer--fromLeft {
    -webkit-transform: translateX(calc(-100vw + 65px));
    transform: translateX(calc(-100vw + 65px));
}

.SidebarMenu {
    height: 100%;
    background: #1c1b1b;
    color: #fff;
}

.Drawer:focus {
    outline: none;
}

.Drawer[aria-hidden="false"] {
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.Drawer::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 2px 0 10px rgba(54, 54, 54, 0.2), -2px 0 10px rgba(54, 54, 54, 0.2);
    box-shadow: 2px 0 10px rgba(54, 54, 54, 0.2), -2px 0 10px rgba(54, 54, 54, 0.2);
    opacity: 0;
    -webkit-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Drawer[aria-hidden="false"]::before {
    opacity: 1;
}

.Drawer__Header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 50px;
    max-height: 60px;
    background: inherit;
    text-align: center;
    z-index: 1;
}

.Drawer__Header {
    height: var(--header-height);
}

[data-drawer-animated-left] {
    /*[data-drawer-animated-left], [data-drawer-animated-right]*/
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
    transition: opacity 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
    transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s;
    transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
}

[data-drawer-animated-left] {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
}

.Drawer[aria-hidden="false"] [data-drawer-animated-left] {
    /*.Drawer[aria-hidden="false"] [data-drawer-animated-left], .Drawer[aria-hidden="false"] [data-drawer-animated-right]*/
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.Icon-Wrapper--clickable {
    position: relative;
    background: transparent;
}

.Drawer__Close {
    position: absolute;
    margin-left: 0;
    left: 18px;
    top: calc(50% - 7px);
    line-height: 0;
}

body:not(.is-tabbing) button:focus, body:not(.is-tabbing) input:focus, body:not(.is-tabbing) select:focus, body:not(.is-tabbing) textarea:focus {
    outline: none;
}

.Icon-Wrapper--clickable::before {
    position: absolute;
    content: '';
    top: -8px;
    right: -12px;
    left: -12px;
    bottom: -8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.Icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    stroke-width: 1px;
    background: none;
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

.Drawer__Close svg {
    width: 15px;
    height: 15px;
    stroke-width: 1.25px;
}

/*黑大中*/
.Drawer__Content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    height: calc(100% - 60px);
    max-height: calc(100% - 50px);
}

.Drawer__Content {
    height: calc(100% - var(--header-height));
    max-height: calc(100% - var(--header-height));
}

.SidebarMenu .Drawer__Content::before, .SidebarMenu .Drawer__Footer::before {
    position: absolute;
    content: '';
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

.SidebarMenu .Drawer__Content::before {
    top: 0;
    height: 25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1b1b), color-stop(40%, rgba(28, 27, 27, 0.6)), to(rgba(28, 27, 27, 0)));
    background-image: linear-gradient(#1c1b1b, rgba(28, 27, 27, 0.6) 40%, rgba(28, 27, 27, 0));
}

[data-scrollable] {
    overflow: auto;
}

.Drawer__Main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

[data-drawer-animated-left], [data-drawer-animated-right] {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
    transition: opacity 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
    transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s;
    transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s, -webkit-transform 0.5s ease 0.25s;
}

[data-drawer-animated-left] {
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
}

.Drawer[aria-hidden="false"] [data-drawer-animated-left], .Drawer[aria-hidden="false"] [data-drawer-animated-right] {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.SidebarMenu .Drawer__Main::after {
    display: block;
    content: '';
    height: 35px;
}

.Drawer__Container {
    width: 100%;
}

.Drawer--fromLeft .Drawer__Container {
    padding-left: 18px;
    padding-right: 24px;
}

/*商店*/
.Collapsible {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.SidebarMenu .Collapsible, .SidebarMenu .Linklist_black {
    border-color: rgba(255, 255, 255, 0.25);
}

.SidebarMenu__Nav .Collapsible:first-child {
    border-top: none;
}

.Collapsible__Button {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    cursor: pointer;
}

body:not(.is-tabbing) button:focus {
    /*body:not(.is-tabbing) button:focus, body:not(.is-tabbing) input:focus, body:not(.is-tabbing) select:focus, body:not(.is-tabbing) textarea:focus*/
    outline: none;
}

/*加減開合*/
.Collapsible__Plus {
    position: absolute;
    right: 0;
    top: calc(50% - (11px / 2));
    width: 11px;
    height: 11px;
}

    .Collapsible__Plus::before, .Collapsible__Plus::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-90deg);
        transform: translate(-50%, -50%) rotate(-90deg);
        background-color: currentColor;
        -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    }

    .Collapsible__Plus::before {
        width: 11px;
        height: 1px;
        opacity: 1;
    }

    .Collapsible__Plus::after {
        width: 1px;
        height: 11px;
    }

.Collapsible__Button[aria-expanded="true"] .Collapsible__Plus::before, .Collapsible__Button[aria-expanded="true"] .Collapsible__Plus::after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
}

.Collapsible__Button[aria-expanded="true"] .Collapsible__Plus::before {
    opacity: 0;
}

/*商店小項目*/
.Collapsible__Inner {
    display: block;
    height: 0;
    visibility: hidden;
    -webkit-transition: height 0.35s ease-in-out, visibility 0s ease-in-out 0.35s;
    transition: height 0.35s ease-in-out, visibility 0s ease-in-out 0.35s;
    overflow: hidden;
}

.Collapsible__Button[aria-expanded="true"] + .Collapsible__Inner {
    visibility: visible;
    -webkit-transition: height 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;
}

.Collapsible__Content {
    padding-bottom: 18px;
}

.Collapsible .Collapsible {
    margin-left: 16px;
    border: none;
}

.SidebarMenu .Collapsible {
    /*.SidebarMenu .Collapsible, .SidebarMenu .Linklist_black*/
    border-color: rgba(255, 255, 255, 0.25);
}

.Collapsible__Button {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    cursor: pointer;
}

.SidebarMenu .Heading, .SidebarMenu .Link--primary:hover {
    /*.SidebarMenu .Heading, .supports-hover .SidebarMenu .Link--primary:hover*/
    color: #fff;
}

.SidebarMenu .Text--subdued {
    color: rgba(255, 255, 255, 0.5);
}

.supports-hover .Link--primary:hover, .Link--primary.is-active {
    color: #1c1b1b;
}

.Collapsible .Collapsible .Collapsible__Button {
    padding: 13px 0;
}

/*商店>>全部*/
.Linklist_black {
    list-style: none;
    padding: 0;
}

.Linklist--bordered {
    margin-left: 8px;
    padding: 0 20px 0 25px;
    border-left: 1px solid #ddd;
}

.Collapsible .Linklist_black {
    margin-bottom: 4px;
}

.Collapsible .Linklist--bordered {
    margin-top: 16px;
    margin-bottom: 4px;
}

.SidebarMenu .Collapsible, .SidebarMenu .Linklist_black {
    border-color: rgba(255, 255, 255, 0.25);
}

.Linklist__Item_black {
    position: relative;
    display: block;
    margin-bottom: 12px;
    width: 100%;
    line-height: 1.5;
    text-align: left;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .Linklist__Item_black::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        top: calc(50% - 3px);
        left: 0;
        border-radius: 100%;
        background: #1c1b1b;
        opacity: 0;
        -webkit-transition: opacity 0.1s ease-in-out;
        transition: opacity 0.1s ease-in-out;
    }

.Linklist--spacingLoose .Linklist__Item_black {
    margin-bottom: 18px;
}

.Linklist__Item_black > .Link, .Linklist__Item_black > .shopify-payment-button__more-options {
    display: block;
    width: 100%;
    text-align: inherit;
}

.supports-hover .Link--primary:hover, .Link--primary.is-active {
    color: #1c1b1b;
}

/*最新到貨*/
.Collapsible__Button {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 0;
    text-align: left;
    cursor: pointer;
}

a:active, a:hover {
    outline: 0;
}

.supports-hover .Link--primary:hover, .Link--primary.is-active {
    color: #1c1b1b;
}

/*帳戶、搜尋*/
.SidebarMenu__Nav--secondary {
    margin-top: 28px;
}

.Linklist--spacingLoose .Linklist__Item_black {
    margin-bottom: 18px;
}

.supports-hover .Link--primary:hover, .Link--primary.is-active {
    color: #1c1b1b;
}

/*RWD的BUTTON*/

.Header__Icon {
    display: block;
    line-height: 1;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.Icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    stroke-width: 1px;
    background: none;
    pointer-events: none;
}

svg:not(:root) {
    overflow: hidden;
}

.Header__Icon .Icon--nav {
    height: 14px;
    width: 20px;
}

/*購物車的RWD*/

.supports-sticky .Header--transparent .Header__Icon, .supports-sticky .Header--transparent .Header__CurrencySelector, .supports-sticky .Header--transparent .HorizontalList__Item > .Heading, .supports-sticky .Header--transparent .Header__LogoLink > .Heading, .supports-sticky .Header--transparent .Text--subdued {
    color: currentColor;
}

.Header__Icon .Icon--cart {
    width: 17px;
    height: 20px;
}

.Header__Icon .Icon--cart, .Header__Icon .Icon--cart-desktop {
    position: relative;
    top: -1px;
}

.supports-sticky .Header--transparent .Header__Icon svg {
    -webkit-filter: drop-shadow(0 1px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 1px rgba(0, 0, 0, 0.25));
}

.Header__CartDot {
    position: absolute;
    top: 2px;
    right: -6px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #1c1b1b;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.Header--transparent .Header__CartDot {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: currentColor;
}

.Header__CartDot.is-visible {
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*LOGO*/
.Header__Logo {
    position: relative;
    margin-bottom: 0;
}

/*其他*/
.Header__Wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 18px;
}

/*FB和IG*/
.Drawer__Footer {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-shadow: 0 -1px #ddd;
    box-shadow: 0 -1px #ddd;
}

[data-drawer-animated-bottom] {
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.SidebarMenu .Drawer__Footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 48px;
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.25) inset;
    box-shadow: 0 1px rgba(255, 255, 255, 0.25) inset;
    color: rgba(255, 255, 255, 0.5);
}

.Drawer[aria-hidden="false"] [data-drawer-animated-bottom] {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s;
    transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s;
    transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s;
    transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, -webkit-transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s;
}

.SidebarMenu .Drawer__Content::before, .SidebarMenu .Drawer__Footer::before {
    position: absolute;
    content: '';
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

.SidebarMenu .Drawer__Footer::before {
    bottom: 100%;
    height: 30px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 27, 27, 0)), color-stop(40%, rgba(28, 27, 27, 0.6)), to(#1c1b1b));
    background-image: linear-gradient(rgba(28, 27, 27, 0), rgba(28, 27, 27, 0.6) 40%, #1c1b1b);
}

.HorizontalList {
    list-style: none;
    margin: -6px -8px;
}

.HorizontalList--spacingFill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.SidebarMenu__CurrencySelector, .SidebarMenu__Social {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0;
    padding: 6px 0;
}

.SidebarMenu__Social {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (34px)[auto-fit];
    grid-template-columns: repeat(auto-fit, 34px);
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    text-align: center;
}

.SidebarMenu__CurrencySelector + .SidebarMenu__Social {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.HorizontalList__Item {
    display: inline-block;
    margin: 6px 8px 6px 8px;
}

.HorizontalList--spacingFill .HorizontalList__Item {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (min-width: 1240px) {
    .hidden-desk {
        display: none !important;
    }

    .Header--center .Header__FlexItem {
        margin-bottom: 40px;
    }

    .Header:not(.Header--sidebar) .Header__FlexItem--fill {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;
    }

    .Header__FlexItem:last-child {
        text-align: right;
    }
}

@media screen and (min-width: 1008px) {
    .SidebarMenu .Drawer__Content::before {
        height: 40px;
    }

    .SidebarMenu .Drawer__Main {
        padding-top: 26px;
    }

        .SidebarMenu .Drawer__Main::after {
            height: 60px;
        }
}

@media screen and (min-width: 641px) {
    .u-h6, .Rte h6 {
        font-size: 13px;
    }

    .u-h7 {
        font-size: 12px;
    }

    .Drawer {
        width: 400px;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .Drawer--small {
        width: 340px;
    }

    .Drawer__Header {
        max-height: 80px;
        min-height: 60px;
    }

    .Drawer__Close {
        left: 30px;
    }

        .Drawer__Close svg {
            stroke-width: 1.5px;
        }

    .Drawer__Content {
        min-height: calc(100% - 80px);
        max-height: calc(100% - 80px);
    }

    .Drawer--fromLeft .Drawer__Container, .Drawer--fromRight .Drawer__Container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .hidden-tablet-and-up {
        display: none !important;
    }

    .Header__Icon .Icon--nav-desktop {
        height: 17px;
        width: 24px;
    }

    .Header__Icon .Icon--cart-desktop {
        height: 23px;
        width: 19px;
    }

    .Header__Wrapper {
        padding: 18px 30px;
    }
}

@media screen and (max-width: 640px) {
    .hidden-phone {
        display: none !important;
    }

    .Header__Wrapper {
        padding: 15px 18px;
    }
}

@media screen and (max-width: 1007px) {
    .hidden-pocket {
        display: none !important;
    }
}

@media screen and (max-width: 1239px) and (min-width: 1008px) {
    .hidden-lap {
        display: none !important;
    }
}
/*# sourceMappingURL=header_style_black.css.map */
